<header>
  <div class="main">
    <ul class="flex w-full gap-4 items-center mb-8">
      <li{% if active=="home" %} class="bg-blue-600/50 px-4 py-2"{% endif %}><a href="/">Home</a></li>
      <li{% if active=="translate" %} class="bg-blue-600/50 px-4 py-2"{% endif %}><a href="translate">Translate</a></li>
      <!--<li{% if active=="contact" %} class="active"{% endif %}><a href="contact">Contact</a></li>
      <li{% if active=="about" %} class="active"{% endif %}><a href="about">About</a></li>-->
    </ul>
  </div>
</header>